<!DOCTYPE html>
<html>
  <head>
    <title>Neighboor</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <section class="vh-100" style="background-color: #eee;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-12 col-xl-10">
            <div class="card">
              <%= yield %>
              <%= turbo_frame_tag "remote_modal", target: "_top" %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
